<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="{{ url_for('static', path='create_user.css') }}">

    <meta charset="UTF-8">
    <title>Ajouter un utilisateur</title>

</head>

<body>

    <div class="container">
        <h1>Ajouter un utilisateur</h1>

        <form action="/create_user" method="post">
            <label>Nom :</label>
            <input type="text" name="name" required>

            <label>Âge :</label>
            <input type="number" name="age" min="0" required>

            <label>Email :</label>
            <input type="email" name="mail" required>

            <label>Mot de passe :</label>
            <input type="password" name="password" required>

            <label>Téléphone :</label>
            <input type="tel" name="phone" required>

            <button type="submit">Ajouter</button>
        </form>
    </div>

</body>

</html>