<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', path='login.css') }}">
</head>

<body>

    <h1 style="text-align:center;">Welcome to our e-portfolio website</h1>

    <div class="login-container">
        <h2>Connexion</h2>

        <form action="/login" method="post">
            <input type="email" name="mail" placeholder="Email" required>
            <input type="password" name="password" placeholder="Mot de passe" required>

            <button type="submit">Se connecter</button>
        </form>

        <div class="footer">
            Pas encore de compte ?
            <a href="/create_user">S'inscrire</a>
        </div>
    </div>

</body>

</html>